# Book settings
title: GOST Urbanization
author: Benjamin P. Stewart
logo: images/logo.png
only_build_toc_files: true

# Information about where the book exists on the web
repository:
  url: https://github.com/worldbank/GOST_Urban # Online location of your book
  branch: main 

# Add GitHub buttons to your book
html:
  home_page_in_navbar: true
  extra_navbar: ""
  use_edit_page_button: true
  use_repository_button: true
  use_issues_button: false
  baseurl: https://github.com/worldbank/GOST_Urban

execute:
  execute_notebooks: off

# specify sphinx extensions
# Sphinx settings
sphinx:
  config:
    html_show_copyright: false
    html_last_updated_fmt: "%b %d, %Y"
    apidoc_module_dir: ../src/GOSTurban
    extra_extensions:
      - sphinx.ext.autodoc
      - sphinx.ext.napoleon
